<a href="https://colab.research.google.com/github/sachiohappy08/pydata-book/blob/1st-edition/data_handling_practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Pandasドリル
## 復習用宿題 - データハンドリング

copyright 2018 株式会社データミックス

In [2]:
%matplotlib inline
import matplotlib
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

matplotlib.style.use('ggplot')

## データを読み込みましょう


world-happiness-reportフォルダにあるファイル、2015.csv, 2016.csv, 2017.csvを読み込みましょう

### 例: 2015.csvを読み込む

In [5]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [6]:
whr2015 = pd.read_csv("drive/My Drive/DATAMIX/PYTHON/Bootcamp_Machine_Learning_Day1_Homework/dataset/world-happiness-report/2015.csv")
whr2015.head()

       Country          Region  ...  Generosity  Dystopia Residual
0  Switzerland  Western Europe  ...     0.29678            2.51738
1      Iceland  Western Europe  ...     0.43630            2.70201
2      Denmark  Western Europe  ...     0.34139            2.49204
3       Norway  Western Europe  ...     0.34699            2.46531
4       Canada   North America  ...     0.45811            2.45176

[5 rows x 12 columns]

列名を確認するには、以下のようにします。

In [7]:
whr2015.columns

Index(['Country', 'Region', 'Happiness Rank', 'Happiness Score',
       'Standard Error', 'Economy (GDP per Capita)', 'Family',
       'Health (Life Expectancy)', 'Freedom', 'Trust (Government Corruption)',
       'Generosity', 'Dystopia Residual'],
      dtype='object')

### 練習1: 2016.csvを読み込み、列名を確認しましょう

In [8]:
whr2016 = pd.read_csv("drive/My Drive/DATAMIX/PYTHON/Bootcamp_Machine_Learning_Day1_Homework/dataset/world-happiness-report/2016.csv")
whr2016.head()

       Country          Region  ...  Generosity  Dystopia Residual
0      Denmark  Western Europe  ...     0.36171            2.73939
1  Switzerland  Western Europe  ...     0.28083            2.69463
2      Iceland  Western Europe  ...     0.47678            2.83137
3       Norway  Western Europe  ...     0.37895            2.66465
4      Finland  Western Europe  ...     0.25492            2.82596

[5 rows x 13 columns]

In [ ]:
# Enter your code here

### 練習2: 2017.csvを読み込みましょう。さらに列名も確認しましょう

In [9]:
whr2017 = pd.read_csv("drive/My Drive/DATAMIX/PYTHON/Bootcamp_Machine_Learning_Day1_Homework/dataset/world-happiness-report/2017.csv")
whr2017.head()

       Country  ...  Dystopia.Residual
0       Norway  ...           2.277027
1      Denmark  ...           2.313707
2      Iceland  ...           2.322715
3  Switzerland  ...           2.276716
4      Finland  ...           2.430182

[5 rows x 12 columns]

In [ ]:
# Enter your code here

## スライシング

欲しいデータを抽出する練習をしましょう

### 例: 2015年のデータの最初の10行を出力する

In [10]:
whr2015[:10]

       Country                     Region  ...  Generosity  Dystopia Residual
0  Switzerland             Western Europe  ...     0.29678            2.51738
1      Iceland             Western Europe  ...     0.43630            2.70201
2      Denmark             Western Europe  ...     0.34139            2.49204
3       Norway             Western Europe  ...     0.34699            2.46531
4       Canada              North America  ...     0.45811            2.45176
5      Finland             Western Europe  ...     0.23351            2.61955
6  Netherlands             Western Europe  ...     0.47610            2.46570
7       Sweden             Western Europe  ...     0.36262            2.37119
8  New Zealand  Australia and New Zealand  ...     0.47501            2.26425
9    Australia  Australia and New Zealand  ...     0.43562            2.26646

[10 rows x 12 columns]

### 練習3: 2016年のデータの最初の20行を出力する

In [11]:
whr2016[:10]

       Country                     Region  ...  Generosity  Dystopia Residual
0      Denmark             Western Europe  ...     0.36171            2.73939
1  Switzerland             Western Europe  ...     0.28083            2.69463
2      Iceland             Western Europe  ...     0.47678            2.83137
3       Norway             Western Europe  ...     0.37895            2.66465
4      Finland             Western Europe  ...     0.25492            2.82596
5       Canada              North America  ...     0.44834            2.70485
6  Netherlands             Western Europe  ...     0.47416            2.70749
7  New Zealand  Australia and New Zealand  ...     0.49401            2.47553
8    Australia  Australia and New Zealand  ...     0.47407            2.54650
9       Sweden             Western Europe  ...     0.38254            2.54734

[10 rows x 13 columns]

### 例: 2015年でHappiness Scoreが3以下の国を出力する

In [12]:
whr2015[whr2015['Happiness Score'] <=3]

     Country              Region  ...  Generosity  Dystopia Residual
156  Burundi  Sub-Saharan Africa  ...     0.19727            1.83302
157     Togo  Sub-Saharan Africa  ...     0.16681            1.56726

[2 rows x 12 columns]

### 練習4: 2017年のデータでHappiness Scoreが4以下の国を出力する

In [15]:
whr2017[whr2017['Happiness.Score'] <=4]

                      Country  ...  Dystopia.Residual
135                    Malawi  ...           2.081786
136                      Chad  ...           2.071238
137                  Zimbabwe  ...           1.597970
138                   Lesotho  ...           1.429835
139                    Angola  ...           1.614482
140               Afghanistan  ...           2.150801
141                  Botswana  ...           0.377914
142                     Benin  ...           1.885631
143                Madagascar  ...           1.584613
144                     Haiti  ...           1.697168
145                     Yemen  ...           1.345601
146               South Sudan  ...           1.879567
147                   Liberia  ...           1.673286
148                    Guinea  ...           1.552312
149                      Togo  ...           1.837229
150                    Rwanda  ...           0.540061
151                     Syria  ...           1.061574
152                  Tanzania  ...           0.621130
153                   Burundi  ...           1.683024
154  Central African Republic  ...           2.066005

[20 rows x 12 columns]

### 例: 2015年でHappiness Scoreが4以下かつFreedomが0.5以上の国を出力する

In [16]:
whr2015[(whr2015['Happiness Score'] <=4) & (whr2015['Freedom'] >=0.5) ]

      Country              Region  ...  Generosity  Dystopia Residual
144  Cambodia   Southeastern Asia  ...     0.40359            0.98195
153    Rwanda  Sub-Saharan Africa  ...     0.22628            0.67042

[2 rows x 12 columns]

### 練習5: 2017年のデータでFamilyが0.5以下かつFreedomが0.5以下の国を出力する

In [22]:
whr2017[(whr2017["Family"] <=0.5) & (whr2017["Freedom"] <=0.5)]

                      Country  ...  Dystopia.Residual
142                     Benin  ...           1.885631
149                      Togo  ...           1.837229
151                     Syria  ...           1.061574
154  Central African Republic  ...           2.066005

[4 rows x 12 columns]

### 例: 2015年でHappiness Rankが5の倍数の国名を出力する(forループを使って）

pandas.DataFrameでは、indexという行番号を持っています

In [24]:
whr2015.index

RangeIndex(start=0, stop=158, step=1)

indexを使うと、上から順にデータを取り出しながら処理することができます。
今回のケースでは、Happiness Rankが5の倍数の国名をリストに格納し、出力してみます。

参考：loc, ilocの使い分け http://ailaby.com/lox_iloc_ix/

In [25]:
five_multi_countries = [] #変数作って列を代入していく。
for idx in whr2015.index: #whr2015ファイルのindexからforループでidxを一つずつ取り出す。
    if whr2015.iloc[idx]['Happiness Rank']%5==0: #もしwhr2015のidxにある'Happiness Rank'が5の倍数だったら
        country = whr2015.iloc[idx]['Country'] #whr2015に新しい'Country'というカラムを作ってcountryに代入する。
        five_multi_countries.append(country) # five_multi_countriesにcountryをappendする
five_multi_countries

['Canada',
 'Australia',
 'United States',
 'United Arab Emirates',
 'Panama',
 'Argentina',
 'Saudi Arabia',
 'Suriname',
 'Slovakia',
 'Italy',
 'Slovenia',
 'Poland',
 'Jamaica',
 'Turkmenistan',
 'Vietnam',
 'Azerbaijan',
 'Zambia',
 'Philippines',
 'Albania',
 'Mongolia',
 'Honduras',
 'Iran',
 'Zimbabwe',
 'Congo (Kinshasa)',
 'Kenya',
 'Georgia',
 'Egypt',
 'Comoros',
 'Cambodia',
 'Guinea',
 'Benin']

### 練習6: 2016年のデータでHappiness Rankが10の倍数の国名をリストに格納してみてください。

In [ ]:
# Enter your code here

### 練習7: 2017年のデータでGenerosityのスコアがDystopia.Residualのスコアを上回る国をリストに格納してください。

In [ ]:
# Enter your code here

## データのマージ

2つのデータを結合させます

### 例: 2015年のデータと2016年のデータを結合させます

In [ ]:
# こちらのコードは、2016年のデータをwhr2016というデータフレームで格納している前提で動かすことができます。（whr2016がなければエラーが出ます）
newdata = pd.merge(whr2015, whr2016, how="inner", on = "Country", suffixes=['2015', '2016'])
newdata.head()

### 練習8: 2016年のデータと2017年のデータを結合させてください。

In [ ]:
# Enter your code here

## 新しい列の追加

注意: こちらは上記の結合を実施してから、実施してください。

### 例: 新しい列 "Score_change"（Happiness Scoreの変化率）を作ります

In [ ]:
# こちらのコードは、2015年のデータと2016年のデータをマージしたnewdataが作成されていないとエラーが出ます
newdata['score_change'] = newdata['Happiness Score2016'] / newdata['Happiness Score2015']
newdata.head()

### 練習9: 2016年のデータと2017年のデータを結合したデータを使って、例のようにscore_changeを作ってください
注意:　列名をよく確認のうえ行いましょう

In [ ]:
# Enter your code here

### 練習10: score_changeが2016年から2017年にかけて1.1倍以上になった国を出力してください。

In [ ]:
# Enter your code here

## データの集計

Pandasを使えばグループごとの平均などを計算することができます。

### 例: 2015年のデータで、Regionごとの平均Happiness Scoreを計算して棒グラフにします

In [ ]:
agg_data = whr2015.groupby("Region").aggregate({"Happiness Score":np.mean})
agg_data

In [ ]:
agg_data.plot(kind="bar")

### 練習11: 例題と同じことを2016年、2017年でも実施してください
注意:　列名をよく確認のうえ行いましょう

In [ ]:
# Enter your code here